{
    email {$ACME_EMAIL}
}
{$KANSO_DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    request_body {
        max_size 1048576
    }
    reverse_proxy reader:8080 {
        transport http {
            dial_timeout 5s
            response_header_timeout 45s
        }
    }
}
